.job-title{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.job-field{
    display: block;
    font-weight: bold;
    /* display: inline; */
    /* margin-left: auto; */
}

.qualification{
    margin-top: 10px;
}

.job-content{
    font-size: 2.5rem;
}

.job-description{
    font-size: 1.2rem;
font-weight: lighter;
}

.job-description-title{
    font-weight: bold;
}
